@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
html,
body {
  height: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  background: url("../img/image 3.png") no-repeat;
  background-size: 100%;
}

h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1f2041;
}

h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #1f2041;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

.container {
  max-width: 1160;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.header {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  min-height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1160;
  gap: 10px;
  padding: 0 1%;
}
.header__menu {
  margin-left: auto;
}

@media (max-width: 944px) {
  .header {
    /* 	&__menu {
    } */
  }
  .header .button {
    display: none;
  }
}
.dropdown-header__content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-header:after {
  display: inline-block;
  vertical-align: middle;
  font-size: 12;
  line-height: 1;
  padding: 0 6px 0 3px;
  content: "";
}
.dropdown-header:hover .dropdown-header__content {
  display: block;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin: 0 20px 0 0;
}
.menu__link {
  color: rgba(31, 32, 65, 0.5);
}

.active {
  font-weight: bold;
}

.account:before {
  content: "";
  padding: 0 0 0 20px;
  height: 30px;
  opacity: 0.1;
  border-left: 1px solid #1f2041;
}

.button {
  font-weight: bold;
  margin: 0 0 0 12px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 15px;
  cursor: pointer;
  position: relative;
  padding: 8px 18px;
  border-radius: 22px;
  background-color: white;
  color: #bc9cff;
  text-decoration: none;
}
.button_type1:hover::before {
  opacity: 0.5;
}
.button_type1:before {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
.button_type2 {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
.button_type2:hover {
  opacity: 0.5;
}
.button_type2:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.text-field {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 13px 15px 13px;
  outline: none;
}
.text-field:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}
.text-field:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}

.wrapper {
  max-width: 1160;
  margin: 0 auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  background-color: rgba(255, 255, 255, 0.418);
  margin: 20px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.btn__link {
  margin-left: 10px;
  color: #bc9cff;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.btn__link:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  color: rgba(31, 32, 65, 0.5);
}

.custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom:not(:disabled):not(:checked) + label:hover::before {
  border-color: #bc9cff;
}
.custom:disabled + label::before {
  background-color: rgba(31, 32, 65, 0.25);
}
.custom__toggle + label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom__toggle + label::before {
  content: "";
  display: inline-block;
  width: 38px;
  height: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  margin-right: 10px;
  background-size: 50% 50%;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.custom__toggle + label::after {
  content: "";
  position: absolute;
  left: 3px;
  width: 12px;
  height: 12px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.custom__toggle:checked + label::after {
  -webkit-transform: translateX(calc(200% - 2px));
          transform: translateX(calc(200% - 2px));
  background-image: url(../img/icons/radio.svg);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.custom__toggle:checked + label::before {
  border-color: #bc9cff;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.custom__checkbox + label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.custom__checkbox:checked + label::before {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  border-color: #bc9cff;
  background-image: url(../img/icons/check.svg);
}
.custom__radio {
  cursor: pointer;
}
.custom__radio + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom__radio + label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.custom__radio:checked + label::before {
  border-color: #bc9cff;
  background-image: url(../img/icons/radio.svg);
  background-size: 12px;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=" icon-"]::before, .dropdown-header:after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=" icon-"]::before {
  display: block;
}

.icon-arrow_bottom:before {
  content: "";
}

.icon-arrow_forward:before {
  content: "";
}

.icon-insert_emoticon:before {
  content: "";
}

.icon-location_city:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-fb:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.footer {
  min-height: 443px;
  background-color: white;
}
.footer__wrapper {
  min-height: 372px;
  -webkit-box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
          box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}
.footer__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1160;
  gap: 10px;
  padding: 0 1%;
}

.copyright {
  min-height: 70px;
}