//-------------------------------------------
.header {
	background-color: #fff;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	&__container {
		box-sizing: content-box;
		min-height: 70px;
		align-items: center;
		margin: 0 auto;
		display: flex;
		max-width: $maxWidthCont;
		gap: 10px;
		padding: 0 1%;
	}
	&__menu {
		margin-left: auto;
	}
}

@media (max-width: 944px) {
	.header {
		/* 	&__menu {
		} */
		.button {
			display: none;
		}
	}
}
.dropdown-header__content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}
.dropdown-header {
	&:after {
		display: inline-block;
		vertical-align: middle;
		font-size: 12;
		line-height: 1;
		padding: 0 6px 0 3px;
		@extend %ic;
		content: "\e900";
	}
	&:hover .dropdown-header__content {
		display: block;
	}
}
.menu {
	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		&:not(:last-child) {
			margin: 0 20px 0 0;
		}
	}

	&__link {
		color: $dark_shade50;
	}
}
.active {
	font-weight: bold;
}

.account {
	&:before {
		content: "";
		padding: 0 0 0 20px;
		height: 30px;
		opacity: 0.1;
		border-left: 1px solid $dark_shade100;
	}
}
.button {
	font-weight: bold;
	margin: 0 0 0 12px;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 15px;
	cursor: pointer;
	position: relative;
	padding: 8px 18px;
	border-radius: 22px;
	background-color: white;
	color: $purple;
	text-decoration: none;
	&_type1 {
		&:hover {
			&::before {
				opacity: 0.5;
			}
		}
		&:before {
			transition-duration: 0.4s;
			content: "";
			position: absolute;
			z-index: -1;
			top: -2px;
			right: -2px;
			bottom: -2px;
			left: -2px;
			border-radius: 22px;
			background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
		}
	}

	&_type2 {
		transition-duration: 0.4s;
		padding: 10px 20px;
		cursor: pointer;
		color: white;
		background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
		&:hover {
			opacity: 0.5;
		}
		&:before {
			background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
		}
	}
}
